# Privy Configuration
VITE_PRIVY_APP_ID=cmjwevmi40382ih0bcxl3nqoz

# Movement Network Configuration
VITE_MOVEMENT_RPC_URL=https://testnet.movementlabs.xyz
VITE_NFT_CONTRACT_ADDRESS=0xa80a604da323c1c33cb6f8cd57ad36647787ed485ed80b271e4bbbf38577c3a1

# Backend API
VITE_BACKEND_API_URL=https://nero-protocol.vercel.app/api

# Payment Configuration
VITE_PAYMENT_WALLET_ADDRESS=0xa80a604da323c1c33cb6f8cd57ad36647787ed485ed80b271e4bbbf38577c3a1
